<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Intratheek.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
        <add name="IntratheekConnectionString" connectionString="Data Source=WEBSERVER\WEBDB;Initial Catalog=Intratheek;User ID=aspnet;Password=P@ssw1rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <authentication mode="Windows" />
      <identity impersonate="true" />
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5"  />
      <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider"/>
      <customErrors mode="Off"/>
    </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>


  <applicationSettings>
    <Intratheek.My.MySettings>
      <setting name="sGebruiker" serializeAs="String">
        <value>Gebruiker</value>
      </setting>
      <setting name="sBeheerder" serializeAs="String">
        <value>Beheerder</value>
      </setting>
    </Intratheek.My.MySettings>
  </applicationSettings>
</configuration>
